DEBUG=False
SECRET_KEY=your-secret-key

DB_NAME=enrollment_db
DB_USER=enrollment_user
DB_PASSWORD=your-password
DB_HOST=db
DB_PORT=5432

POSTGRES_DB=enrollment_db
POSTGRES_USER=enrollment_user
POSTGRES_PASSWORD=your-password

ALLOWED_HOSTS=localhost,127.0.0.1