# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment & secrets
.env
*.log

# IDE/editor
.vscode/
.idea/
*.swp
.DS_Store

# Testing
.coverage
htmlcov/
.pytest_cache/
