{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Course Enrollment{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header class="bg-green-100">
        <nav>
            <ul class="flex space-between flex-col md:flex-row">
                <li><a href="{% url 'core:index' %}" class="p-6">Home</a></li>
                <li><a href="{% url 'courses:course_list' %}" class="py-6 text-center">Courses</a></li>
                <li><a href="#" class="p-6">Profile</a></li>
                {% if user.is_authenticated %}
                    <li class="ml-auto p-6">
                        <form method="post" action="{% url 'logout' %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="bg-transparent border-none cursor-pointer p-0">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li class="ml-auto p-6"><a href="{% url 'login' %}">Login</a></li>
                    <li class="p-6"><a href="{% url 'core:signup' %}">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer class="bg-green-100 p-10">
        <p>This is a Coursework project for the module DSCC at WIUT university!</p>
        <ul>
            <li class="mb-6">
                <p>Fake Phone: +1901232313</p>
            </li>
            <li class="mb-6">
                <p>Fake About</p>
            </li>
            <li class="mb-6">
                <p>Fake Privacy Policy</p>
            </li>
    </footer>

    {% block extra_js %}{% endblock %}
</body>
</html>