{% extends "core/base.html" %}

{% block title %} Profile | Course Platform  {% endblock %}

{% block content %}

<h2 class="text-right p-6 text-2xl">Profile</h2>

<p><strong>Username:</strong> {{ user.username }}</p>
<p><strong>Role:</strong> {{ user.role }}</p>

<hr>

{% if user.role == "student" %}
    <h3>Enrolled Courses</h3>
    {% if enrolled_courses %}
        <ul class="flex">
            {% for enrollment in enrolled_courses %}
                <a href="{% url 'courses:course_detail' enrollment.course.pk %}">
                    <li class="bg-blue-100 rounded-xl p-6 m-6 hover: bg-blue-200">
                        <span class="text-2xl">{{ enrollment.course.title }}</span>
                        <p>Enrolled at: {{enrollment.enrolled_at}}</p>
                    </li>
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <p>You are not enrolled in any courses.</p>
    {% endif %}
{% endif %}

{% if user.role == "instructor" %}
    <h3>Your Created Courses</h3>
    {% if created_courses %}
        <ul class="flex">
            {% for course in created_courses %}
                <a href="{% url 'courses:course_detail' course.pk %}">
                    <li class="bg-blue-100 rounded-xl p-6 m-6 hover:bg-blue-200">
                        <p>{{ course.title }}</p>
                        <p>{{course.description}}</p>
                    </li>
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <p>You haven't created any courses yet.</p>
    {% endif %}
{% endif %}


{% endblock %}