{% extends "core/base.html" %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}

<h1>{{ course.title }}</h1>

<p><strong>Instructor:</strong> {{ course.instructor }}</p>

<hr>

<p>{{ course.description }}</p>

<hr>

{% for lesson in course.lessons.all %}
    <div class="bg-green-100 p-6 rounded">
        <p class="text-2xl">Lessons</p>
        <ul>
            <li>{{lesson.title}}</li>
        </ul>
    </div>
{%endfor%}

{% if user == course.instructor %}
    <a href="{% url 'courses:course_update' course.pk %}" class="m-6 inline-block bg-blue-100 hover:bg-blue-200 p-6 rounded-xl">Edit</a>
    <a href="{% url 'courses:course_delete' course.pk %}" class="m-6 inline-block bg-red-100 hover:bg-red-200 p-6 rounded-xl">Delete</a>
{% endif %}

{% if user.is_authenticated %}
    {% if user.role == "student" %}
        {% if is_enrolled %}
            <button disabled>Already Enrolled</button>
        {% else %}
            <form method="post" action="{% url 'courses:enroll_course' course.id %}">
                {% csrf_token %}
                <button type="submit">Enroll in this course</button>
            </form>
        {% endif %}
    {% elif user.role == "instructor" and user == course.instructor %}
        <p><strong>You are the instructor of this course.</strong></p>
    {% endif %}
{% else %}
    <p><a href="{% url 'login' %}">Login to enroll</a></p>
{% endif %}

<hr>

<a href="{% url 'courses:course_list' %}">
    ← Back to Courses
</a>

{% endblock %}